@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLTGEO-45Lights.ttf.TTF");
  src: url("../fonts/HelveticaNeueLTGEO-45Lights.woff");
  src: url("../fonts/HelveticaNeueLTGEO-45Lights.woff2");
}
